textarea.add-video {
  resize: none;
}

body {
  margin: 0;
  padding: 0;
}

.video-container {
  background-color: 'gray';
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* Minimum width of 300px, auto-wrap */
  gap: 16px;
  /* Add some gap between tiles for spacing */
  padding: 16px;
  /* Add padding to the grid container */
}

.video-tile {
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
  /* background-color: #fff; */
  margin: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.video-tile a {
  text-decoration: none;
  color: inherit;
}

.video-tile:hover {
  transform: scale(1.02);
}

.video-tile a:hover {
  text-decoration: none;
  color: inherit;
}

.thumbnail-container {
  position: relative;
  overflow: hidden;
}

.video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.video-tile img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  /* Add border radius to the image */
}

.video-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 10px;
}

.video-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-title {
  font-size: 16px;
  font-weight: bold;
}

.channel-title {
  font-size: 14px;
  color: #555;
}

.control-buttons {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.video-tile:hover .control-buttons {
  display: flex;
  visibility: visible;
}

.control-buttons button {
  padding: 4px 8px;
  font-size: 12px;
}

button.danger {
  color: rgb(207, 34, 46);
  border-color: rgb(207, 34, 46);
}