<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <title>Later Later - watch later!</title>
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li>Later Later - watch later</li>
      </ul>
      <ul>
        <li>
          <button class="contrast" data-target="modal-example" onClick="toggleModal(event)"> + </button>
        </li>
      </ul>
    </nav>
    <main class="container-fluid">
      <div class="video-container">
        {{range .Videos}}
          <div class="video-tile" id="video-{{.ID}}">
            <a href="https://www.youtube.com/watch?v={{.ID}}" target="_blank">
              <div class="thumbnail-container">
                <img src="{{.ThumbnailURL}}" />
                <span class="video-duration">{{.Duration}}</span>
              </div>
            </a>
            <div class="video-info">
              <div class="video-header">
                <a href="https://www.youtube.com/watch?v={{.ID}}" target="_blank">
                  <div class="video-title">{{.Title}}</div>
                </a>
              </div>
              <div class="channel-title">{{.ChannelTitle}}</div>
            </div>
            <div class="control-buttons">
              {{/* <button class="mark-as-viewed outline">Mark as Viewed</button> */}}
              <button
                hx-delete="/videos/{{.ID}}"
                hx-target="#video-{{.ID}}"
                hx-swap="delete"
                class="remove-button outline danger">
                Remove
              </button>
            </div>
          </div>
        {{end}}
      </div>
    </main>

    <!-- Modal -->
    <dialog id="modal-example">
      <article>
        <a href="#close" aria-label="Close" class="close" data-target="modal-example" onClick="toggleModal(event)"> </a>
        <form method="post" action="/videos">
          <h3>Add videos to watch later</h3>
          <p>
            <textarea name="videos" cols="100" rows="10" class="add-video"
            placeholder="You can add one or several YouTube Video links.
A link to a video can be one of the following formats:

https://www.youtube.com/watch?v=12345678901
https://youtu.be/12345678901
12345678901
            ">
            https://www.youtube.com/watch?v=z75DKfOfDA4
            https://www.youtube.com/watch?v=qyM8Pi1KiiM
            https://www.youtube.com/watch?v=m4jJsseY2Ic
            </textarea>
          </p>
            <input type="submit" class="contrast" value="Submit" />
        </form>
      </article>
    </dialog>

    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="/static/js/modal.js"></script>
  </body>
</html>